.page.theme_light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --main-title-color: #ffc2f6;
  --button-color: #353430;
  --color-section-title: #353430;
  --text-color: #353430;
  --border-color: #353430;
  --border-button: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --main-title-color: #ffc2f6;
    --button-color: #353430;
    --color-section-title: #353430;
    --text-color: #353430;
    --border-color: #353430;
    --border-button: rgba(50, 49, 45, 0.4);
  }

  .decoration__point::after {
    display: none;
  }
  
  .decoration__text::before {
    display: none;
  }
}
